<ion-view view-title="Invitation">
    <ion-content>
        <!--<ion-list>
            <ion-item ng-repeat="contact in contacts | orderBy: contact.phoneNumbers[0]" ng-click=sendSMS(contact.phoneNumbers[0].value)>
                {{contact.displayName}} {{contact.phoneNumbers[0].value}}
            </ion-item>
        </ion-list>-->
        <div class="card">
            <div class="item item-divider">
                <i class="icon ion-person-stalker"></i> Invitez vos amis à rejoindre PicsnRate
            </div>
            <div class="item item-text-wrap">
                D'une simple pression sur ce boutton envoyez un sms à vos amis
                <button class="button icon-left ion-email button-positive button-block" ng-click=sendSms()>Inviter</button>
            </div>

        </div>

    </ion-content>
</ion-view>