<ion-view view-title="PicsnRate">
    <ion-content>
        <div class="bar bar-header bar-light">
            <h1 class="title">Photos Partagées</h1>
        </div>
        <div class="list card">
            <div ng-repeat="picture in pictures.pictures">
                <div class="item item-image">
                    <img ng-src="{{picture.photo}}">
                </div>
                <div class="button-bar">
                    <button ng-disabled="disabled.indexOf(picture._id) !== -1" ng-click="upvote(picture._id)" class="button ion-thumbsup button-positive"> &nbsp; Like ({{picture.votes}})</button>
                    <button ng-click="locateOnMap(picture._id)" class="button ion-ios-location button-dark"> &nbsp; See on Map</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>