<ion-view view-title="PicsnRate">
    <ion-content>
        <div class="list card">
            <div ng-repeat="picture in pictures.pictures">
                <div class="item item-image">
                    <img ng-src="{{picture.photo}}">
                </div>
                <div class="button-bar">
                    <button class="button ion-thumbsup button-positive"> &nbsp; Like</button>
                    <button ng-click="locateOnMap(picture._id)" class="button ion-ios-location button-dark"> &nbsp; See on Map</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>