<ion-view view-title="Changement mot de passe">
    <ion-content>
        <form class="list" name="chgPwd" novalidate ng-submit="submit()">
            <label class="item item-input">
                <input name="toto" ng-model="currentPwd" type="password" placeholder="Mot de passe actuel" required>
            </label>
            <label class="item item-input">
                <input type="password" ng-model="password" placeholder="Nouveau mot de passe" required>
            </label>
            <label class="item item-input">
                <input type="password" ng-model="password_confirm" placeholder="Confirmer mot de passe" validate-equals="password" required>
            </label>
            <button ng-disabled="chgPwd.$invalid" class="button button-block button-positive" type="submit">
                Enregistrer modifications
            </button>
        </form>
    </ion-content>
</ion-view>